body {
    font-family: 'Red Hat Display', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'DM Serif Display', serif;
}

.container {
    width: 100%;
    max-width: 1200px; 
    background-color: #fff; 
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

@media (max-width: 430px) and (max-height: 932px) { 
    header {
        height: 80px;
        padding: 0 10px;
        flex-direction: column;
        align-items: center;
    }
    
    .nav {
        font-size: 0.6em;
        padding-top: 5px;
        width: 100%;
        justify-content: center;
        flex-direction: column;
        gap: 5px;
    }

    .nav p {
        margin: 5px 0;
        text-align: center;
        color: white;
    }

    .logo{
        position: absolute;
        display: flex;
        align-items: center;
        align-self: center;
    }
    

    .orange-tab {
        font-size: 0.6em;
        padding: 5px 10px;
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 10;
    }

    .top-image__container {
        border-radius: 7px;
        margin-top: 10px;
    }

    .top-image__img {
        border-radius: 7px;
        height: auto;
    }

    .top-image__text {
        font-size: 1.5rem; 
        width: 90%;
    }

    .tallShadow {
        z-index: 0;
    }

    .top-image__tab {
        font-size: 0.6em;
        padding: 12px 20px;
    }

    .swiper-pagination {
        font-size: 0.6em;
    }

    .services-container {
        padding: 50px 20px;
        flex-direction: column;
    }

    .circle-container,
    .services-content {
        flex: none;
        width: 100%;
        text-align: center;
    }

    .circle-image {
        max-width: 100%;
    }

    .services-content p {
        font-size: 0.9em;
    }

    .case-studies-container {
        flex-direction: column;
        margin-top: 30px;
    }

    .case-study-card {
        width: 90%;
        margin: 10px;
    }

    .case-study-content{
            height: 85%;
            left: 0;
            width: 100%;
            padding: 0px;
            margin-bottom: -30%;
            color: black;
    }

    .hero-overlay {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); 
    }

    .bottom-heading {
        font-size: 0.8rem !important;
        background: rgba(0, 0, 0, 0.2); 
    }

    .bottom-text {
        font-size: 0.7rem !important;
        font-weight: bold !important;
        background: rgba(0, 0, 0, 0.2); 
    }

    .bottom-buttons .btn {
        font-size: 0.4rem; 
        padding: 0.1rem 0.7rem; 
    }

    .hero-shadow {
        display: none;
    }
    .footer-container {
        display: flex;
        flex-direction: column;
        gap: 5px; 
        padding: 10px; 
        align-items: center; 
    }

    .footer-container .footer-item {
        width: 100%; 
        text-align: center;
    }
    
    .footer-container .footer-item a {
        padding: 8px 15px; 
        font-size: 0.8rem; 
        display: inline-block;
        margin: 5px 0;
        background: #333; 
        color: white; 
        border-radius: 5px;
        text-align: center;
    }

    .footer-container .footer-item p {
        font-size: 0.8rem; 
        color: #666; 
    }
}

@media (max-width: 820px) and (max-height: 1180px) { 
    .case-study-content {
    bottom: 20%;
    height: 45%;
    left: 0;
    width: 100%;
    padding: 0px;
    color: white;
    }

    .case-study-description{
        display: none;
    }

    .searchIcon{
        z-index: -1;
    }
}

header {
    position: relative; 
    display: flex;
    align-items: center;
    background-color: #f8f9fa; 
    height: 100px; 
    padding: 0 5%;
}

.logo {
    position: relative; 
    padding-top: 4%;
    left: 40%;
}

.nav {
    display: flex; 
    flex-wrap: nowrap; 
    justify-content: space-between;
    font-size: 0.7em;
    padding-top: 1% 5%;
    padding-left: 40%;
    width: 100%;
}

.nav p {
    margin: 0 10px; 
    white-space: nowrap;
}

.searchIcon {
    position: absolute;
    right: 11.5%;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    width: 15px;
}


header {
    position: relative; 
    display: flex;
    align-items: center;
    background-color: #f8f9fa; 
    height: 100px; 
    padding: 0 5%;
}

.logo {
    position: relative; 
    padding-top: 4%;
    left: 40%;
}

.nav {
    display: flex; 
    flex-wrap: nowrap; 
    justify-content: space-between;
    font-size: 0.7em;
    padding-top: 1% 5%;
    padding-left: 40%;
    width: 100%;
}

.nav p {
    margin: 0 10px; 
    white-space: nowrap;
}

.searchIcon {
    position: absolute;
    right: 11.5%;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    width: 15px;
}
@media (max-width: 1024px) {
    .nav { 
        font-size: 0.5em;
        align-items: center; 
        text-align: center;
    }
}



.orange-tab {
    background-color: #DDB62E;
    color: white; 
    font-size: 0.5em; 
    padding: 7px 13px; 
    border-radius: 0 0 7px 7px; 
    position: absolute;
    top: 0; 
    right: 11.5%;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
}

.orange-tab p {
    margin: 0; 
    white-space: nowrap; 
}

.top-image__container {
    position: relative;
    width: 100%;
    max-width: 100vw;
    overflow: visible;
    z-index: 1;
    border-radius: 12px;
}

.top-image__img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 12px;
}

.top-image__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    width: 80%;
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

.tallShadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0; 
    pointer-events: none;
}

.tallShadow img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    opacity: 0.3; 
    mix-blend-mode:multiply; 
}
.top-image__container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4); 
    z-index: 0;
    border-radius: 7px;
}

.top-image__tab {
    position: absolute;
    bottom: -20px; 
    right: 0; 
    background-color: #18BEAB;
    color: white;
    padding: 14px 26px;
    border-radius: 7px 0 7px 7px; 
    font-size: 0.5em;
    z-index: 4;
}

.top-image__tab p {
    margin: 0; 
    padding: 0; 
    flex: 1; 
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%; 
    ;
}

.swiper-container {
position: relative;
}
.swiper-pagination {
    position: relative;
    bottom: -20px; 
    text-align: center; 
    color: white;
}

.services-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f4f4; 
    padding: 80px 10%;
    gap: 90px; 
}

.circle-container {
    flex: 1;
    display: flex;
    justify-content: center;
}

.circle-image {
    max-width: 450px;
    height: auto;
}

.services-content {
    flex: 1;
    max-width: 500px;
    text-align: left;
    align-items: flex-start;
}

.services-content h2 {
    font-size: 2rem;
    color: #2A4351;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: left;
}

.services-content p {
    font-size: 0.7em;
    color: #444;
    margin-bottom: 40px;
    margin-left: 25px;
}

.button {
    background-color: #DDB62E;
    color: white;
    padding: 8px 12px;
    font-weight:600;
    border-radius: 5px;
    text-transform: uppercase;
    display: inline-block;
    text-decoration: none;
    transition: background-color 0.3s ease;
    font-size: 0.5em;
    margin-left: 25px;
}

.button:hover {
    background-color: #d9a72e; 
}

.case-studies-container {
    display: flex;
    justify-content: center; 
    gap: 20px; 
    margin-top: 50px;
    margin-bottom: 30px;
}

.case-studies-title{
    text-align: center; 
    margin-top: 80px; 
    font-size: 28px; 
    font-weight: bold;
}

.case-study-card {
    position: relative;
    width: 320px; 
    height: 450px;
    border-radius: 15px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.case-study-card:hover {
    transform: scale(1.05);
}

.case-study-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 7px; 
}

.case-study-content {
    position: absolute;
    bottom: 10%;
    left: 0;
    width: 100%;
    padding: 20px;
    color: white;
}

.case-study-subtitle {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: 'Red Hat Display', sans-serif;
}

.case-study-description {
    font-size: 0.7em;
    line-height: 1.5;
    font-family: 'Red Hat Display', sans-serif;
}

.case-study-footer {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
    font-family: 'Red Hat Display', sans-serif;
}

.case-study-footer::after {
    content: " →";
}

.icon-container {
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 15%; 
    background-color: #29404f; 
    padding: 30px 20px;
    border-radius: 7px 7px 0 0; 
}

.icon-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon-image {
    width: 60px;
    height: auto;
}

.icon-section:first-child .icon-image {
    width: 40px; 
}

.hero-section {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero-bg {
    width: 100%;
    height: auto;
    display: block;
}

.hero-shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    mix-blend-mode: multiply;
    pointer-events: none;
    opacity: 1;
    z-index: 1; 
}

.hero-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; 
    color: white;
}

.bottom-heading {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 15px;
}

.bottom-text {
    font-size: 0.8rem;
    margin-bottom: 20px;
    font-family: 'Red Hat Display', sans-serif;
}

.bottom-buttons {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.btn {
    display: inline-block;
    padding: 6px 24px;
    font-size: 0.7rem;
    font-weight: bold;
    border-radius: 5px;
    transition: 0.3s;
    color: white;
    font-family: 'Red Hat Display', sans-serif;
}

.btn-primary {
    background-color: #18BEAB;
}

.btn-secondary {
    padding: 6px 33px;
    background-color: #ffc107;
}

.btn:hover {
    opacity: 0.8;
}

.footer {
    width: 100%;
    background-color: #333;
    color: white;
    font-size: 0.6em;
    padding: 3.5rem;
    border-radius: 0 0 7px 7px;
}

.footer-container {
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
}

.footer-left,
.footer-middle,
.footer-right {
    flex: 1;
}

.footer-logo img {
    max-width: 150px;
    display: block;
}

.footer-middle {
    text-align: left;
    margin-top: 4%
}

.footer-right {
    display: flex;
    justify-content: end;
    margin-top: 4%;
    
}

.footer-right-inner {
    display: flex;
    gap: 20px;
}

.footer-contact {
    display: flex;
    flex-direction: column;
}

.footer p {
    margin-bottom: 5px;
    white-space: nowrap;
}

